        body {
            font-family: arial, sans-serif;
        }
        table {
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }
        .vertical-contain {
            margin-left: 20px;
            margin-right: 20px;
            
            padding-left:20px;
            padding-right:20px;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        .horizontal-contain{
            display: flex;
            flex-direction: row;
        }
        .space-around{
            margin:10px;
        }